/* === ABOUT-PAGE === */

.text1 h1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #111111;
}

.text1, 
.text2,
.text3, p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #444444;
}

.text2, 
.text3, h1{
  margin: 20px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #111111;
}